.h1-responsive {
	text-align: center;
	position: relative;
	top: 20px;
	padding-bottom: 40px;
}

.h3-responsive {
	display: block;
	padding-bottom: 40px;
	margin-left: 20px;
	text-indent: 20px;
}


#shelterpointer {
	color: #428BCA;
}
